<!--   -->
<div class="container-lg">
                          
                        <!-- user details starts -->
                        <div class="mb-3 card d-flex justify-content-center" >
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img  class="p-2 mx-auto border-5 img-fluid rounded-3 d-block border-dark"
                                    [src]="user.avatar_url" alt="avatar_url">        
                                </div>
                                <div class="col-md-9">
                                    <div class="card-header">User Details</div>
                                        <div class="card-body">
                                            <h5 class="text-center card-title">{{ user.name }}</h5>
                                            <p class="card-text">BIO: {{ user.bio }}</p>
                                            <p class="card-text">Company: {{ user.company }}</p>
                                            <p class="card-text"> Created At: {{ user.created_at | date: 'short' }}</p>
                                            <p class="card-text">Updated At: {{ user.updated_at | date: 'short' }}</p>
                                             <p class="card-text">  
                                                 <a [href] ="user.html_url" class="text-black btn btn-info" target="_blank">Visit Github</a>
                                            </p>
                                        </div>
                                    <div class=" card-footer">
                                        <!-- -->
                                        <div class="container">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                                <button type="button" class="btn btn-primary">
                                                     Public Repos: <span class="badge bg-secondary">{{user.public_repos}}</span>
                                                                </button>
                                                        </div>
                                                        <div class="col">
                                                                <button type="button" class="btn btn-warning">
                                                       Public Gists : <span class="badge bg-secondary">{{user.public_gists}}</span>
                                                                </button>
                                                        </div>
                                                        <div class="col">
                                                                <button type="button" class="btn btn-info">
                                                       Followers : <span class="badge bg-secondary">{{user.followers}}</span>
                                                                </button>
                                                        </div>
                                                        <div class="col">
                                                                <button type="button" class="btn btn-success">
                                                         Following : <span class="badge bg-secondary">{{user.following}}</span>
                                                                </button>
                                                        </div>
                                                    </div>
                                        </div>
                                        <!--  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- user details ends -->
</div> 
<!--  -->



































































































































